<h1 style="padding: 2%; font-weight: bold">{{postResponse.title}}</h1>
<div class="container">
    <div class="row" style="margin-bottom: 2rem">
        <div class="card shadow custom-card-background">
            <div class="card-body" style="color: white;">
                <div bind-innerHTML="postResponse.content"></div>
                <div style="text-align: right; font-style: italic">- {{postResponse.author}}
                    ({{postResponse.publish_date}})
                </div>
            </div>
        </div>
    </div>
    <div onclick="document.getElementById('confirmationDialog').style.display='block'" (click)="setupReplyComment(null)"
        style="float: right; font-style: italic; font-size: 1rem; margin: 0.2rem; font-weight: bold; cursor: pointer;display: inline">
        Reply
    </div>
    <h4 style="font-weight: bold; clear: both">Replies</h4>
    <div>

        <ul style="list-style-type: none;">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: postResponse.activity }">
            </ng-container>
        </ul>
        <ng-template #recursiveListTmpl let-list>
            <li *ngFor="let item of list">
                <div class="card shadow" style="margin-bottom: 0.5rem">
                    <div class="card-body">
                        <h6 style="font-weight: bold">{{ item.user }} :</h6>
                        <div>{{ item.content }}</div>
                        <div onclick="document.getElementById('confirmationDialog').style.display='block'"
                            (click)="setupReplyComment(item.id)"
                            style="float: right; font-style: italic; font-size: 0.8rem; margin: 0.2rem; font-weight: bold; cursor: pointer;display: inline">
                            Reply
                        </div>
                        <div onclick="document.getElementById('editDialog').style.display='block'"
                            [hidden]="item.user != userName" (click)="setupEditComment(item.id, item.content)"
                            style="float: right; font-style: italic; font-size: 0.8rem; font-weight: bold; cursor: pointer;display: inline; margin: 0.2rem 10px 0.2rem 0.2rem;">
                            Edit
                        </div>
                    </div>
                </div>
                <ul *ngIf="item.replies.length > 0" style="list-style-type: none;">
                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.replies }">
                    </ng-container>
                </ul>
            </li>
        </ng-template>
    </div>
</div>

<div id="confirmationDialog" class="modal" style="text-align: -webkit-center">
    <div class="container">
        <span onclick="document.getElementById('confirmationDialog').style.display='none'" class="close"
            title="Close Modal">×</span>
        <div style="margin-bottom: 2rem; width: 50%">
            <div class="card shadow">
                <div class="card-body">
                    <h3 style="font-weight: bold">Add Reply</h3>
                    <textarea style="width: 100%" [(ngModel)]="addedComment"
                        class="form-control form-control-alternative" rows="3"
                        placeholder="Write a reply ..."></textarea>

                    <div class="clearfix">
                        <div class="row">
                            <button type="button" style="margin: 1em"
                                onclick="document.getElementById('confirmationDialog').style.display='none'"
                                class="col btn btn-primary">Cancel
                            </button>
                            <button type="button" style="margin: 1em"
                                onclick="document.getElementById('confirmationDialog').style.display='none'"
                                class="col btn btn-danger blacktone" (click)="replyToComment()">Reply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="editDialog" class="modal" style="text-align: -webkit-center">
    <div class="container">
        <span onclick="document.getElementById('editDialog').style.display='none'" class="close"
            title="Close Modal">×</span>
        <div style="margin-bottom: 2rem; width: 50%">
            <div class="card shadow">
                <div class="card-body">
                    <h3 style="font-weight: bold">Edit Reply</h3>
                    <textarea style="width: 100%" [(ngModel)]="editedComment"
                        class="form-control form-control-alternative" id="editDialogText" rows="3"
                        placeholder="Write a reply ..."></textarea>

                    <div class="clearfix">
                        <div class="row">
                            <button type="button" style="margin: 1em"
                                onclick="document.getElementById('editDialog').style.display='none'"
                                class="col btn btn-primary">Cancel
                            </button>
                            <button type="button" style="margin: 1em"
                                onclick="document.getElementById('editDialog').style.display='none'"
                                class="col btn btn-danger blacktone" (click)="editComment()">Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>