<h1 style="padding: 2%; font-weight: bold">{{postResponse.title}}</h1>
<div class="container">
    <div class="row" style="margin-bottom: 2rem">
        <div class="card shadow custom-card-background">
            <div class="card-body" style="color: white;">
                <div bind-innerHTML="postResponse.content"></div>
                <div style="text-align: right; font-style: italic">- {{postResponse.author}}
                    ({{postResponse.publish_date}})
                </div>
            </div>
        </div>
    </div>
    <div (click)="setupReplyComment(null)" onclick="document.getElementById('confirmationDialog').style.display='block'"
         style="float: right; font-style: italic; font-size: 1rem; margin: 0.2rem; font-weight: bold; cursor: pointer;display: inline">
        Reply
    </div>
    <h4 style="font-weight: bold; clear: both">Replies</h4>
    <div>

        <ul style="list-style-type: none;">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: postResponse.activity }">
            </ng-container>
        </ul>
        <ng-template #recursiveListTmpl let-list>
            <li *ngFor="let item of list">
                <div class="card shadow" style="margin-bottom: 0.5rem">
                    <div class="card-body">
                        <h6 style="font-weight: bold">{{ item.user }} :</h6>
                        <div>{{ item.content }}</div>
                        <div (click)="setupReplyComment(item.id)"
                             onclick="document.getElementById('confirmationDialog').style.display='block'"
                             style="float: right; font-style: italic; font-size: 0.8rem; margin: 0.2rem; font-weight: bold; cursor: pointer;display: inline">
                            Reply
                        </div>
                        <div (click)="setupEditComment(item.id, item.content)"
                             [hidden]="item.user != userName" onclick="document.getElementById('editDialog').style.display='block'"
                             style="float: right; font-style: italic; font-size: 0.8rem; font-weight: bold; cursor: pointer;display: inline; margin: 0.2rem 10px 0.2rem 0.2rem;">
                            Edit
                        </div>
                    </div>
                </div>
                <ul *ngIf="item.replies.length > 0" style="list-style-type: none;">
                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.replies }">
                    </ng-container>
                </ul>
            </li>
        </ng-template>
    </div>
</div>

<div class="modal" id="confirmationDialog" style="text-align: -webkit-center">
    <div class="container">
        <span class="close" onclick="document.getElementById('confirmationDialog').style.display='none'"
              title="Close Modal">×</span>
        <div style="margin-bottom: 2rem; width: 50%">
            <div class="card shadow">
                <div class="card-body">
                    <h3 style="font-weight: bold">Add Reply</h3>
                    <textarea [(ngModel)]="addedComment" class="form-control form-control-alternative"
                              placeholder="Write a reply ..." rows="3"
                              style="width: 100%"></textarea>

                    <div class="clearfix">
                        <div class="row">
                            <button class="col btn btn-primary" onclick="document.getElementById('confirmationDialog').style.display='none'"
                                    style="margin: 1em"
                                    type="button">Cancel
                            </button>
                            <button (click)="replyToComment()" class="col btn btn-danger blacktone"
                                    onclick="document.getElementById('confirmationDialog').style.display='none'"
                                    style="margin: 1em" type="button">Reply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="editDialog" style="text-align: -webkit-center">
    <div class="container">
        <span class="close" onclick="document.getElementById('editDialog').style.display='none'"
              title="Close Modal">×</span>
        <div style="margin-bottom: 2rem; width: 50%">
            <div class="card shadow">
                <div class="card-body">
                    <h3 style="font-weight: bold">Edit Reply</h3>
                    <textarea [(ngModel)]="editedComment" class="form-control form-control-alternative"
                              id="editDialogText" placeholder="Write a reply ..." rows="3"
                              style="width: 100%"></textarea>

                    <div class="clearfix">
                        <div class="row">
                            <button class="col btn btn-primary" onclick="document.getElementById('editDialog').style.display='none'"
                                    style="margin: 1em"
                                    type="button">Cancel
                            </button>
                            <button (click)="editComment()" class="col btn btn-danger blacktone"
                                    onclick="document.getElementById('editDialog').style.display='none'"
                                    style="margin: 1em" type="button">Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
